<!--The content below is only a placeholder and can be replaced.-->
<div id="header-container">
  <!-- <nav>
    <div class="page-wrapper">
    <ul class="primary">
      <li>
        <a href="#">Link 1</a>
          <ul class="secondary">
            <li class="content-2">
              <a href="#">Link 1a</a>
              <ul class="tertiary">
                <li><a href="#">Link 1aa</a></li>
                <li><a href="#">Link 1ab</a></li>
                <li><a href="#">Link 1ac</a></li>
              </ul>
            </li>
            <li class="content-2">
                <a href="#">Link 1b</a>
                <ul class="tertiary">
                  <li><a href="#">Link 1ba</a></li>
                  <li><a href="#">Link 1bb</a></li>
                  <li><a href="#">Link 1bc</a></li>
                </ul>
            </li>
            <li class="content-2">
                <a href="#">Link 1c</a>
                <ul class="tertiary">
                  <li><a href="#">Link 1ca</a></li>
                  <li><a href="#">Link 1cb</a></li>
                  <li><a href="#">Link 1cc</a></li>
                </ul>
            </li>
          </ul>
      </li>
      <li>
          <a href="#">Link 2</a>
            <ul class="secondary">
              <li class="content-2">
                <a href="#">Link 2a</a>
                <ul class="tertiary">
                  <li><a href="#">Link 2aa</a></li>
                  <li><a href="#">Link 2ab</a></li>
                  <li><a href="#">Link 2ac</a></li>
                </ul>
              </li>
              <li class="content-2">
                  <a href="#">Link 2b</a>
                  <ul class="tertiary">
                    <li><a href="#">Link 2aa</a></li>
                    <li><a href="#">Link 2ab</a></li>
                    <li><a href="#">Link 2ac</a></li>
                  </ul>
              </li>
              <li class="content-2">
                  <a href="#">Link 2c</a>
                  <ul class="tertiary">
                    <li><a href="#">Link 2ca</a></li>
                    <li><a href="#">Link 2cb</a></li>
                    <li><a href="#">Link 2cc</a></li>
                  </ul>
              </li>
            </ul>
        </li>
        <li>
            <a href="#">Link 3</a>
              <ul class="secondary">
                <li class="content-2">
                  <a href="#">Link 3a</a>
                  <ul class="tertiary">
                    <li><a href="#">Link 3aa</a></li>
                    <li><a href="#">Link 3ab</a></li>
                    <li><a href="#">Link 3ac</a></li>
                  </ul>
                </li>
                <li class="content-2">
                    <a href="#">Link 3b</a>
                    <ul class="tertiary">
                      <li><a href="#">Link 3ba</a></li>
                      <li><a href="#">Link 3bb</a></li>
                      <li><a href="#">Link 3bc</a></li>
                    </ul>
                </li>
                <li class="content-2">
                    <a href="#">Link 3c</a>
                    <ul class="tertiary">
                      <li><a href="#">Link 3ca</a></li>
                      <li><a href="#">Link 3cb</a></li>
                      <li><a href="#">Link 3cc</a></li>
                    </ul>
                </li>
              </ul>
          </li>
      </ul>
    </div>
  </nav> -->
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Angular Logo" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg==">
</div>
<h2>Here are some links to help you start: </h2>

<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/tutorial">Tour of Heroes</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://blog.angular.io/">Angular blog</a></h2>
  </li>
</ul>

